<div class="container pt-0">

    <div class="row pb-3">
        <div class="col-sm-8">

        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">&nbsp;
                        <button class="btn btn-primary" data-dismiss="modal" ng-click="saveUpdatePatient()"
                                testType="button"><i
                                class="text-warning fa fa-plus"></i> ADD
                        </button>&nbsp;

                        <button class="btn btn-warning" data-dismiss="modal" ng-click="saveUpdatePatient()"
                                testType="button"><i
                                class="text-warning fa fa-plus"></i>Search
                        </button>&nbsp;
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <button class="btn btn-success" data-dismiss="modal" ng-click="saveUpdatePatient()"
                                testType="button"><i
                                class="text-warning fa fa-plus"></i> Save
                        </button>&nbsp;
                        <button class="btn btn-danger" data-dismiss="modal" ng-click="clearCurrentPatient()"
                                testType="button"><i
                                class="text-warning fas fa-eraser"></i>Clear
                        </button>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container rounded" style="border:1px solid blanchedalmond">

        <!--        <div class="row pt-3">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="font-size-sm">SEARCH ID</label>
                            </div>
                            <div class="col-sm-6">
                                <input list="patientId" ng-change="loadPatientList()" ng-keypress="keypress($event)"
                                       ng-model="patient.patientId"
                                       type="text">
                                <datalist id="patientId" ng-model="patient.patientId">
                                    <option ng-repeat="p in ptestList">{{p.patientId}}</option>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="font-size-sm">Date</label>
                            </div>
                            <div class="col-sm-9">
                                {{patient.dateCreated | date:'short'}}
                            </div>
                        </div>
                    </div>
                </div>-->


        <div class="row l-raw">
            <div class="col-6">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="font-size-sm">Patient</label>
                    </div>
                    <div class="col-sm-6">
                        <input ng-disabled="uicompo.itemDisabled" ng-model="patient.patientName" style="width: 350px;"
                               testType="text">
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="font-size-sm">City</label>
                    </div>
                    <div class="col-sm-6">
                        <select class="form-control" ng-disabled="uicompo.itemDisabled"
                                ng-model="patient.districtName" style="width: 250px;">
                            <option ng-repeat="c in districtByList">{{c.name}}</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
        <div class="row l-raw">
            <div class="col-6">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="font-size-sm">Address</label>
                    </div>
                    <div class="col-sm-4">
                        <input ng-disabled="uicompo.itemDisabled" ng-model="patient.patientName" style="width: 400px;"
                               testType="text">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="font-size-sm">NIC #</label>
                    </div>
                    <div class="col-sm-6">
                        <input list="nicNumber" ng-model="patient.nicNumber"
                               ng-select="findByNicNumber()"
                               testType="text">
                        <datalist id="nicNumber" ng-model="patient.nicNumber">
                            <option ng-repeat="p in ptestList">{{p.nicNumber}}</option>
                        </datalist>
                    </div>
                </div>
            </div>
        </div>

        <div class="row l-raw">
            <div class="col-6">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="font-size-sm">Remarks</label>
                    </div>
                    <div class="col-sm-6">
                        <textarea ng-disabled="uicompo.itemDisabled" ng-model="patient.other" style="width: 350px;"/>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="font-size-sm">DOB</label>
                    </div>
                    <div class="col-sm-6">
                        <input name="input" ng-disabled="uicompo.itemDisabled" ng-model="patient.dateOfBirth"
                               title="Enter a date in this format YYYY-MM-DD"
                               type="date"/>
                    </div>
                    <div class="col-sm-3">
                        <label class="font-size-sm">{{patient.currentAge}} Age</label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row pb-3">
            <div class="col-4">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="font-size-sm">Sex</label>
                    </div>
                    <div class="col-sm-6">
                        Male <input name="gender" ng-disabled="uicompo.itemDisabled" ng-model="patient.gender"
                                    type="radio"
                                    value="MALE"/>
                        Female <input name="gender" ng-disabled="uicompo.itemDisabled" ng-model="patient.gender"
                                      type="radio"
                                      value="FEMALE"/>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">

                </div>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>


    <div ng-if="showMediTest">
        <hr/>
        <div class="container rounded" style="border:1px solid blanchedalmond">
            <div class="row pt-3 pb-3">

                <div class="col-2">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="font-size-sm">Type</label>
                        </div>
                        <div class="col-sm-8">
                            <select class="form-control" ng-change="onSelectTestType()"
                                    ng-model="uicompo.selectedTestType" style="width: 75px;">
                                <option ng-repeat="c in testTypeList">{{c.value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="font-size-sm">Test</label>
                        </div>

                        <div class="col-sm-6">
                            <select class="form-control" ng-model="uicompo.selectedTest"
                                    style="width: 250px;">
                                <option ng-repeat="item in mediTestList" value="{{item}}">{{item.name}} -
                                    Rs.{{item.price}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="font-size-sm">SeenBy</label>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" ng-disabled="uicompo.itemDisabled"
                                    ng-model="patient.seenBy" style="width: 250px;">
                                <option ng-repeat="c in seenByList">{{c.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-danger" data-dismiss="modal" ng-click="addSelectedTest()"
                                    testType="button">
                                <i
                                        class="text-warning fa fa-plus"></i> ADD
                            </button>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="raw view pt-3">
            <div class="wrapper table table-sm table-hover table-bordered" id="parent">
                <table class="table" id="fixTable">
                    <thead class="bg-secondary text-light">
                    <tr>
                        <th width="2%">#</th>
                        <th width="5%">Type</th>
                        <th width="5%">Test #</th>
                        <th width="35%">Medical Test Name</th>
                        <th width="10%">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-dblclick="showUI(itm,'edit')"
                        ng-repeat="itm in patientMediTestList | filter : searchKeyword">
                        <td class="first-col">
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-link btn-sm" data-toggle="tooltip"
                                        ng-click="showUI(itm,'delete')"
                                        title="">
                                    <span class="text-danger"><i class="fa fa-times"></i></span>
                                </button>
                            </div>
                        </td>
                        <th>{{itm.testType}}</th>
                        <th>{{itm.testNumber}}</th>
                        <th>{{itm.name}}</th>
                        <th>{{itm.price}}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
