<div class="container-fluid">
    <h3>User Admin {{actionType.toUpperCase()}}</h3>
    <hr/>
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <span ng-show="useris_show">
                        <label class="col-sm-1 fleft" for="userid">User</label>
                        <select class="form-control col-sm-3 fleft" id="selectuser" ng-module="userid">
                            <option ng-repeat="c in userAdminList">{{c.fistName}}</option>
                            <option>Admin</option>
                            <option>saman</option>
                            <option>suranga</option>
                            <option>nilantha</option>
                        </select>
                    </span>
                    <div class="d-flex flex-row-reverse">
                        <button class="btn btn-danger" ng-click="reset();" ng-show="btnResetShow" type="button"><i
                                aria-hidden="true" class="fa fa fa-reply"></i></button>&nbsp;
                        <button class="btn btn-info" ng-click="reset_password();" ng-show="btnPwRstShow" type="button">
                            <i aria-hidden="true" class="fa fa-unlock"></i></button>&nbsp;
                        <button class="btn btn-danger" ng-click="delete();" ng-show="btnDelShow" type="button"><i
                                aria-hidden="true" class="fa fa-trash"></i></button>&nbsp;
                        <button class="btn btn-warning" ng-click="edit();" ng-show="btnEditShow" type="button"><i
                                aria-hidden="true" class="fa fa-wrench"></i></button>&nbsp;
                        <button class="btn btn-primary" ng-click="add();" ng-show="btnAddShow" type="button"><i
                                aria-hidden="true" class="fa fa-plus-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <form name="form" ng-submit="save_submit()" role="form">
        <span class="border">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-4 fleft required" for="userId">User</label>
                           <input type="text" id="userId" name="userId" ng-model="users.userId" class="form-control col-sm-8 fleft" ng-disabled="component_is_disabled" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-4 fleft required" for="sel1">userRoles</label>
                            <input type="text" ng-model="users.userRoles" class="form-control col-sm-8 fleft" ng-disabled="component_is_disabled" required >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-4 fleft required" for="sel1">fistName</label>
                            <input type="text"  ng-model="users.fistName" class="form-control col-sm-8 fleft" ng-disabled="component_is_disabled" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-4 fleft" for="sel1">Email</label>
                            <input type="text" ng-model="users.userEmail" class="form-control col-sm-8 fleft" ng-disabled="component_is_disabled">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-4 fleft" for="sel1">Middle Name</label>
                            <input type="text" ng-model="users.middleName" class="form-control col-sm-8 fleft" ng-disabled="component_is_disabled">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-4 fleft required" for="sel1">userPFNumber</label>
                            <input type="text" ng-model="users.userPFNumber" class="form-control col-sm-8 fleft" ng-disabled="component_is_disabled" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-4 fleft required" for="sel1">Last Name</label>
                            <input type="text" ng-model="users.lastName" class="form-control col-sm-8 fleft" ng-disabled="component_is_disabled" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-4 fleft required" for="sel1">Telephone</label>
                            <input type="text" ng-model="users.telNumber" class="form-control col-sm-8 fleft" ng-disabled="component_is_disabled" required>
                        </div>
                    </div>
                </div>
            </div>
        <br>
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 d-flex flex-row-reverse">
                    <button class="btn btn-secondary" type="reset" ng-disabled="save_is_disabled" type="button">Reset</button>&nbsp;
                    <button class="btn btn-success" type="submit" ng-disabled="save_is_disabled" type="button">Save</button>&nbsp;

                </div>
            </div>
        </span>
        </form>
        <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item" src=""></iframe>
        </div>
    </div>
</div>
